:root {
    color-scheme: dark;
}

body {
    margin: 0;
    color: black;
    background-color: lightgray;
}

#mapid {
    height: 100%;
}

table, table td, table th {
    border: 1px solid;
    border-collapse: collapse;
}

table td, table th { padding: 3px; }

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 400px 1fr;
}

#menu-container {
    padding: 5px;
    max-height: 100%;
    overflow: auto;
}

#orderlist {
    overflow: auto;
}